/**
 * @title Style Sheet for S2Directory
 * @revision $Revision$
 * @author Jun Futagawa
 */

/*********************************************
 * link
 */

a:link		{ color: #666666; text-decoration: none; background-color: transparent; }
a:visited	{ color: #666666; text-decoration: none; background-color: transparent; }
a:active	{ text-decoration: underline; }
a:hover		{ color: #8d1d1d; text-decoration: underline; }

/*********************************************
 * global
 */

body {
	background-color	: white;
	text-align			: left;
	margin				: 1em;
}

div.header {
	padding 			: 5px;
}

div.article {
	float				: left;
	width 				: 80%;
	margin-left			: 1%;
	border				: none;
}

div.submenu {
	float				: left;
	width 				: 13%;
	margin-top			: 1.5em;
	border				: none;
}

div.footer {
	clear				: both;
}

div.address {
	text-align			: right;
	color				: #666699;
}

img {
	border: none;
}

hr {
	color				: #001a3e;
	height				: 1px
}

pre {
	border				: 1px solid;
	padding				: 4px;
	margin-left			: 5em;
	font-size			: 90%;
}

h1 {
	margin				: 0px;
}

h2 {
	color				: #ffffff;
	font-size			: 130%;
	font-weight			: normal;
	background-color	: #001a3e;
	border-width		: 0px 0px 0px 6px;
	border-style		: double;
	margin				: 1.5em 0em 1em 0em;
	padding				: 0.1em 0.1em 0.1em 0.8em;
}

h3 {
	font-size			: 115%;
	text-align			: left;
	border-style		: double;
	border-top			: 0px solid #001a3e;
	border-bottom		: 1px solid #001a3e;
	margin-left			: 1em;
	padding-left		: 0.5em;
}

h4 {
	border-bottom		: 1px solid #001a3e;
	margin-top			: 1em;
	margin-left			: 1em;
	padding-left		: 0.2em;
}

address {
	color				: #001a3e;
	font-style			: normal;
}

/*********************************************
 * submenu
 */

div.submenu div.subtitle {
	color				: white;
	font-weight			: bold;
	font-size			: 130%;
	background-color	: #292c39;
	padding				: 0.2em 0.2em 0.2em 0.8em;
	margin				: 0px;
}

div.submenu div.box {
	padding				: 0.05em;
	border-color		: #aaaaaa;
	width: auto;
}

div.submenu ul {
	list-style-image	: url(../images/list.png)
}

div.submenu li {
	margin-top			: 0.3em;
}

/*********************************************
 * article
 */

div.article div.list {
	margin				: 0px 4px 0px 4px;
	padding				: 0em 1em 1em 1em;
}

div.section p {
	margin-left			: 2em;
}

div.update {
	font-size			: 85%;
	margin-left			: 1.5em;
	border-bottom		: 1px solid #001a3e;
}

div.day {
	font-weight			: bold;
	color				: #8d1d1d;
	margin-left			: 1em;
	border-bottom		: 1px solid #001a3e;
}

div.footnote {
	text-align			: left;
	margin				: 0em 0em 0em 1em
}

/*********************************************
 * table
 */

table.list {
	width				: 50%;
	border				: 1px solid;
	margin				: 1% 1em 1em 1%;
}

table.list th {
	background-color	: #ccc;
	text-align			: left;
	font-weight			: bold;
	border				: 0px;
	margin				: 0px;
}

table.list tr.a {
	background-color	: #eee;
	border				: 0px;
	margin				: 0px;
}

table.list tr.b {
	background-color	: #fff;
	border				: 0px;
	margin				: 0px;
}

/*********************************************
 * special
 */
pre.dos {
	color				: white;
	background-color	: black;
	margin				: 16px;
	padding				: 5px;
}

pre.source {
	border				: 1px solid black;
	color				: #292929;
	margin				: 16px;
	padding: 5px;
}
